<%include ./partials/header%>
<div class="container">
	

	<div class="card mt-5">
	  
	  <div class="card-body">
	    <h5 class="card-title">Click below button to go to generate receipt page</h5>
	    
	    <a href="/receipt" class="btn btn-primary">Generate receipt</a>
	  </div>
	</div>
</div>
<%include ./partials/footer%>
